[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot
User=david
Group=david

CapabilityBoundingSet=CAP_DAC_READ_SEARCH CAP_NET_RAW

Restart=no
# Prevent rate limiting of borgmatic log events. If you are using an older version of systemd that
# doesn't support this (pre-240 or so), you may have to remove this option.
LogRateLimitIntervalSec=0

ExecStart=/usr/bin/borgmatic --verbosity 1 --files
