[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-ifplatform"]
	path = dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
