{{ if eq .chezmoi.os "linux" -}}
{{     if (eq .chezmoi.osRelease.name "Alpine Linux") }}
#!/bin/sh
sudo apk add py3-pynvim
{{     else }}
#!/bin/sh
python3 -m pip install --user pynvim
{{     end }}
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
python3 -m pip install --user pynvim
{{ end -}}
