* {
	/* margin: ; */
    border: none;
    border-radius: 0;
    padding: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Product Sans Medium,Google Sans Medium, San Francisco Text,Roboto, Helvetica, Arial, sans-serif; */
   font-size: 13px;
   font-family: Ubuntu ,Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
}

window#waybar {
    /* background-color: rgba(47,52,65, 0.0); */
    /* background-color: #3b4252; */
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}transition

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background-color: rgba(47,52,65, 0.7); 
    /* background-color: transparent; */
    border-radius: 5px;
    padding: 4;
    margin: 0 0 0 20;
/*     padding-left: 5; */
}

#workspaces button {
	font-size: 14px;
	border-radius: 0px;
	padding: 0 5 0 5;
	border-bottom: 2px solid transparent;
	border-top: 3px solid transparent;
    margin-right: 8px;
    background-color: transparent;
    color: #ffffff;
}

#window {
	padding: 15px;
    background-color: transparent;
	padding: 0 10 0 10;
    /* margin: 0; */
    /* border-radius: 0 5 5 0; */
	/* border-bottom: 3px solid #ebcb8b; */
}

window#waybar .empty {
    background-color: rgba(47,52,65, 0.7); 
    border-radius: 5px;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    box-shadow: inherit;
    color: #81a1c1;
    border-bottom: 2px solid #81a1c1;
}

#workspaces button.focused {
    color: #5e81ac;
    border-bottom: 2px solid  #5e81ac;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* #workspaces, */
#workspaces button,
#custom-suspend,
#custom-exit,
#custom-pacman,
#custom-name,
#custom-github,
#custom-reddit,
#custom-youtube,
#custom-crunchyroll,
#custom-mail,
#custom-newtab,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#disk,
/* #taskbar */
#custom-waybar-media
#custom-waybar-media.playing
#custom-waybar-media.paused
#custom-waybar-media.stopped
/* #custom-waybar-mpris */
#taskbar button
#taskbar button.active
#taskbar button.minimized
#taskbar
#taskbar button.fullscreen
#mpd {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

/* WAYBAR-MEDIA */

#custom-waybar-media {
	background-color: #434c5e;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #4b5162; */
}

#custom-waybar-media.playing {
	background-color: #5e81ac;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #4b5162; */
}

#custom-waybar-media.paused {
	background-color: #81a1c1;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #4b5162; */
}

#custom-waybar-media.stopped {
	background-color: #4c566a;
	padding: 0px 8px 0px 8px;
	margin: 0;
	border-bottom: 3px solid #4b5162;
}

/* TASKBAR */

#taskbar {
  background-color:#4b5162;
	margin: 0;
	padding: 0;
}

#taskbar button {
	padding: 0 10 0 10;
	margin: 0;
}

#taskbar button.active {
    background-color:  #5e81ac;
}

#taskbar button.minimized {
    background-color: #7c818c;
}

#taskbar button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

/* BROWSER BOOKMARKS */

#custom-newtab {
	background-color: #434c5e;
	font-size: 18px;
	padding: 0 12 0 12;
	margin: 0;
    border-radius: 5 0 0 5;
	/* border-bottom: 3px solid #ebcb8b; */
}

#custom-github {
	background-color: #434c5e;
	padding: 0 12 0 12;
	margin: 0;
	/* border-bottom: 3px solid #ebcb8b; */
}

#custom-reddit {
	background-color: #434c5e;
	padding: 0 12 0 12;
	margin: 0;
	/* border-bottom: 3px solid #ebcb8b; */
}

#custom-crunchyroll {
	background-color: #434c5e;
	padding: 0 12 0 12;
    margin: 0;
    border-radius: 0 5 5 0;
	/* border-bottom: 3px solid #ebcb8b; */
}

#custom-youtube {
	background-color: #434c5e;
	padding: 0 12 0 12;
	margin:0;
	/* border-bottom: 3px solid #ebcb8b; */
}
#custom-mail {
	/* background-color: #434c5e; */
	background-color: #4c566a;
	font-size: 18px;
	padding: 0 2 0 12;
    margin: 0;
	/* border-bottom: 3px solid #ebcb8b; */
}

/* WIDGETS */

#custom-name {
    background-color: #5e81ac;
	padding: 0px 10px 0px 10px;
    /* border-radius: 5 0 0 5; */
    border-radius: 5px;
	margin: 0 10 0 0;
	/* border-bottom: 3px solid #81a1c1; */
}

#clock {
    background-color: #3b4252;
	padding: 0px 8px 0px 8px;
	/* margin: 0; */
    border-radius: 5px;
	margin: 0 10 0 0;
	/* border-bottom: 3px solid #bf616a; */
}

#custom-pacman {
	background-color: #5e81ac;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #4b6789; */
}

#cpu {
    background-color:  #698A86;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #546e6b; */
}

#memory {
    background-color:  #8FB3B4;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #728f90; */
}

#backlight {
    background-color: #4b5162;
	padding: 0px 8px 0px 8px;
	margin: 0;
}

#network {
    background-color: #81a1c1;
	padding: 0px 8px 0px 8px;
	margin: 0;	
	/* border-bottom: 3px solid #67809a; */
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color:  #D3B67D;
	padding: 0px 10px 0px 10px;
	margin: 0;
	/* border-bottom: 3px solid #91874e; */	
	border-radius: 5 0 0 5;
}

#custom-weather {
    background-color: #7b9b96;
	padding: 0 8 0 8;
	margin: 0;
	/* border-bottom: 3px solid #708c86; */
}

#pulseaudio.muted {
    background-color: #b1b190;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
	padding: 0px 8px 0px 8px;
	margin: 0;
	
}

#custom-media.custom-spotify {
    background-color: #66cc99;
	padding: 0px 8px 0px 8px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
	padding: 0px 8px 0px 8px;
	border-radius: 5px;    
}


#temperature {
    background-color: #b48ead;
	margin: 0;
	
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #90718a;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid #90718a; */
	border-radius: 0 5 5 0;
}

#battery {
    background-color: #CDCDCD;
	padding: 0px 8px 0px 8px;
	border-radius: 5px;
	margin: 0;
}

#battery.charging {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #AA8A7A;
	padding: 0px 8px 0px 8px;
	margin: 0;
	/* border-bottom: 3px solid  #886e61; */
}

#idle_inhibitor {
    background-color: #7b9b96;
	padding: 0px 12px 0px 12px;
	border-radius: 5 0 0 5;
	font-size: 20px;
	margin: 0;
	/* border-bottom: 3px solid #708c86; */
}

#idle_inhibitor.activated {
    background-color: #d8dee9;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
	padding: 3px 8px 3px 8px;
	margin: 0;
	/* border-bottom: 3px solid #708c86; */
	border-radius: 5 0 0 5;
}


#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#custom-exit {
	background-color: #4b5162;
	padding: 0px 8px 0px 8px;
	border-radius: 5;
	margin: 0;
}

#custom-suspend {
	background-color: #829870;
	font-size: 16px;
	padding: 0px 13px 0px 13px;
	border-radius: 5;
	/* border-bottom: 3px solid #829870; */
	margin: 0 0 0 10;
}
