#entry:selected {
background-color: #4c566a;
}
 
#text:selected {
color: #e5e9f0;
font-weight: bold;
}
 
window {
margin: 5px;
background-color: #2e3440;
border: 2px solid #5e81ac;
border-radius: 0px;
}

#input {
/* margin: 5px; */
margin: 5 15 15 15;
background-color: none;
border: 2px solid #5e81ac;
border-radius: 0;
}

#inner-box {
color: #e4b86e;
margin: 0px;
background-color: none;
}

#outer-box {
margin: 15px;
background-color: none;
}

#scroll {
margin: 5px;
border-radius: 7px;
background-color: none;
}

#text {
margin: 5 15 5 15;
background-color: none;
} 
